
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/dashboard' %}active{% endif %}" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/rekomendasi' %}active{% endif %}" href="/rekomendasi">Rekomendasi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/hasil_rekomendasi' %}active{% endif %}" href="/hasil_rekomendasi">Hasil Rekomendasi</a>
        </li>
    </ul>
           
