{% extends 'index.html' %}
{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <h1 class="h2">Rekomendasi</h1>
    </div>
      <div class="  d-flex justify-content-center " style="min-height: 50vh;">
        <div class=" col-12 col-md-8">
          <div class="card shadow-sm" style="box-shadow: 0 2px 4px rgba(0,0,0,0.05);">
            <div class="card-body px-4 py-3">
              <div class="text-center mb-3 ">
                <h4 class="card-title text-center mb-2">Form Rekomendasi Makanan</h4>
                </div>
                <p class= "text-center text-muted mb-4">Silakan isi data berikut untuk mendapatkan rekomendasi makanan yang sesuai dengan kondisi hipertensi Anda</p> 
                
                  <form action="{{ url_for('hasil_rekomendasi') }}" method="POST" >
                    <div class="row mb-3">
                      <label for="tekanan_darah" class="col-sm-4 col-form-label">Tekanan darah (contoh: 180/110)</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="tekanan_darah" name="tekanan_darah" placeholder="180/110"  required> 
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="makanan" class="col-sm-4 col-form-label">Makanan yang diinginkan (contoh: ikan, udang)</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="makanan" name="makanan" required>
                      </div>
                    </div>
                   <div class="row justify-content-end mt-4"> <!-- gunakan row yang sama -->
                    <div class="col-sm-8 offset-sm-4"> <!-- offset untuk sejajar dengan input -->
                      <div class="d-grid gap-2 d-md-flex">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                      </div>
                    </div>
                  </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

{% endblock %}
